

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav" >
  <a href="/" class="navbar-brand mx-2">
    <img src="./../../assets/logo.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <!-- <li ngbDropdown class="nav-item" role="presentation">
      <button type="button" class="nav-link" ngbDropdownToggle>LEARN MORE</button>
      <div ngbDropdownMenu>
        <a class="no-drop" ngbDropdownItem>Social Feed</a>
        <a class="no-drop" ngbDropdownItem>Start Events</a>
        <a class="no-drop" ngbDropdownItem>Event List</a>
        <a class="no-drop" ngbDropdownItem>Donor Stats</a>
        <a class="no-drop" ngbDropdownItem>Nonprofit List</a>
        <a class="no-drop" ngbDropdownItem>Who We Are</a>
      </div>
    </li> -->
    <div ngbDropdown>
      <button class="nav-link" type="button" id="dropDownMenuButton" ngbDropdownToggle>
        LEARN MORE
      </button>
      <div class="dropdown-menu tx-13" ngbDropdownMenu aria-labelledby="dropDownMenuButton">
        <a class="no-drop dropdown-item " ngbDropdownItem>Social Feed</a>
        <a class="no-drop dropdown-item" ngbDropdownItem>Start Events</a>
        <a class="no-drop dropdown-item" ngbDropdownItem>Event List</a>
        <a class="no-drop dropdown-item" ngbDropdownItem>Donor Stats</a>
        <a class="no-drop dropdown-item" ngbDropdownItem>Nonprofit List</a>
        <a class="no-drop dropdown-item" ngbDropdownItem>Who We Are</a>
      </div>
    </div>
    <li class="nav-item">
      <a href="mailto:events@charityhub.com" class="nav-link anchor">CREATE AN EVENT</a>
    </li>
  </ul>
  </div>
</nav>
</div>

