<ngb-carousel>
  <ng-template ngbSlide>
    <img src="./../../assets/Production.png" alt="Production.png" />
    <div class="carousel-caption"></div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="./../../assets/charity.png" alt="charity.png" />
    <div class="carousel-caption"></div>
  </ng-template>
</ngb-carousel>

<!-- <ngb-carousel    

>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img  src="./../../assets/Production.png" alt="Random first slide" />
		</div>
		
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="./../../assets/charity.png"  alt="Random second slide" />
		</div>
		
	</ng-template>

</ngb-carousel> -->
