img{
    width: 100%;
    height: 600px;
}

@media (min-width: 1024px) {
    img {
      width: 100%;
      height: 600px;
    }
  }

  @media (max-width: 768px) {
    img {
        width: 100%;
        height: 400px;
      }
  }
  
  /* Styles for mobile devices */
  @media (max-width: 480px) {
    img {
        width: 100%;
        height: 270px;
      }
    }
  
    ngb-carousel{
        margin: 0px;
        padding: 0px;
    }