<app-header> </app-header>
<app-nav> </app-nav>
<app-banner></app-banner>

<div class="bg-blue">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="p-3 align-self-center">
        <h3>Competition for Good®</h3>
        <p>Find ways to take action for empowering charity events</p>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="p-3 align-self-center">
        <h5>
          <button
            class="btn btn-outline-light"
            onclick="location.href='mailto:events@charityhub.com'"
            type="button"
          >
            Get in touch with us
            <span class="hide-in-small">to create an event</span>
          </button>
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- <div class="d-flex justify-content-around bg-blue">
  <div class="p-2 align-self-center">
    <h3>Competition for Good®</h3>
    <p>Find ways to take action for empowering charity events</p>
  </div>
  <div class="p-2 mx-3 align-self-center">
    <h5>
      <a class="anchor" href="mailto:events@charityhub.com" type="button">
        Get in touch with us
        <span class="hide-in-small">to create an event</span>
      </a>
    </h5>
  </div>
</div> -->
<div class="mission mx-auto text-center mt-3">
  <h2>Mission Statement</h2>
  <div class="quote-text">
    <p style="text-align: justify; text-align-last:center">
      <span style="font-size: large;">&ldquo;</span> Empower Competition For Good
      among Mission Driven Organizations through Events, Storytelling,
      Relationships and Engagement which drives awareness, participation and
      monetary acts of solidarity to create positive change in communities.<span
        style="font-size: large"
        >&rdquo;</span
      >
    </p>
  </div>
</div>

<!-- <img style="width: 100vw; height: auto" src="./../assets/mission.png" /> -->

<div class="col-md-8 pt-3 mx-auto d-flex justify-content-between">
  <div>New Events</div>
  <div>
    <ul ngbDropdown class="nav-item" role="presentation">
      <button type="button" class="nav-link" [disabled]="true" ngbDropdownToggle>Sort by</button>
      <div ngbDropdownMenu></div>
    </ul>
  </div>
</div>

<div class="card-Container Container col-md-10 pt-2 mx-auto">
  <div class="custom-card card border-primary">
    <img src="./../assets/als.png" class="card-img-top" />

    <div class="card-body p-1">
      <h6 class="card-title text-center">
        ALS Association Greater San Diego Chapter
      </h6>
      <p class="card-text pt-2" style="text-align: justify; font-size:small;">
        To discover treatments and a cure for ALS, and to serve, advocate for,
        and empower people affected by ALS to live their lives to the fullest.
      </p>
    </div>
    <div class="mt-2">
      <div
        class="pt-2 mx-auto d-flex justify-content-between"
        style="margin-top: auto !important"
      >
        <div>
          <img
            src="./../assets/person.png"
            style="width: 50px; border-radius: 50%; margin-left: auto"
          />
        </div>
        <div>
          <span style="font-weight:600"> Created by </span>
          <h6 style="font-weight:700">ALSASD</h6>
        </div>
        <div>
          <span style="font-weight:600"> For </span>
          <h6 style="font-weight:700">ALSASD</h6>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end" style="margin-top: auto !important">
      <a
        href="https://www.paypal.com/us/home"
        target="_blank"
        class="btn custom-btn btn-primary"
        >Donate</a
      >
    </div>
  </div>

  <div class="custom-card card border-primary">
    <img src="./../assets/RepsForResponder.jpg" class="card-img-top" />

    <div class="card-body p-1">
      <h6 class="card-title text-center">Reps For Responders</h6>
      <p class="card-text pt-2" style="text-align: justify;font-size:small">
        The Reps For Responders Non-Profit (501c3), operates under the mission
        of improving the physical and emotional survivability skills of first
        responders so that they can make responsible decisions both on the job
        and in their personal lives.
      </p>
    </div>
    <div class="mt-2">
      <div
        class="pt-2 mx-auto d-flex justify-content-between"
        style="margin-top: auto !important"
      >
        <div>
          <img
            src="./../assets/person.png"
            style="width: 50px; border-radius: 50%; margin-left: auto"
          />
        </div>
        <div>
          <span style="font-weight:600"> Created by </span>
          <h6 style="font-weight:700">ALSASD</h6>
        </div>
        <div>
          <span style="font-weight:600"> For </span>
          <h6 style="font-weight:700">ALSASD</h6>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end" style="margin-top: auto !important">
      <a
        href="https://www.paypal.com/us/home"
        target="_blank"
        class="btn custom-btn btn-primary"
        >Donate</a
      >
    </div>
  </div>
</div>

<div class="bg-d-blue footer">
  <div class="row">
    <div class="col-md-6">
      <div class="mx-4 p-5">
        <div class="col-md-12">
          <h3>Get in touch with us</h3>
        </div>
        <div>
          <div class="col-md-12 pt-2">
            <p>
              It's easy to contact us! Please fill out our contact form, give us
              a call, or send us an email. We will reply back in a timely
              fashion.
            </p>
          </div>
          <div class="col-md-12">
            <h4>Find us</h4>
            <p>
              <fa-icon [icon]="['fas', 'location']" class="mr-1"></fa-icon
              >&nbsp;80 Broad Street, 5th Floor, Manhattan, NY 10004
            </p>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <h4 class="custom-white1">Connect us</h4>
                <div>
                  <a href="tel:+2016943576" class="mx-1 desktop-text anchor">
                    <fa-icon [icon]="['fas', 'phone']" class="mr-1"></fa-icon>
                    (201) 694-3576
                  </a>
                </div>
                <div>
                  <a
                    href="mailto:info@charityhub.com"
                    class="mx-1 desktop-text anchor"
                  >
                    <fa-icon
                      [icon]="['fas', 'envelope']"
                      class="mr-1"
                    ></fa-icon>
                    info@charityhub.com
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div>
                <div class="map-wrapper">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.622465831109!2d-74.01445182394752!3d40.704311671394784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a1405a4c50b%3A0x70b638e160e55821!2s80%20Broad%20St%205th%20floor%2C%20New%20York%2C%20NY%2010004!5e0!3m2!1sen!2sus!4v1699448767830!5m2!1sen!2sus"
                    width="350"
                    height="140"
                    frameborder="0"
                    class="desktop-text"
                    allowfullscreen="allowfullscreen"
                  ></iframe>
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.622465831109!2d-74.01445182394752!3d40.704311671394784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a1405a4c50b%3A0x70b638e160e55821!2s80%20Broad%20St%205th%20floor%2C%20New%20York%2C%20NY%2010004!5e0!3m2!1sen!2sus!4v1699448767830!5m2!1sen!2sus"
                    width="150"
                    height="55"
                    frameborder="0"
                    class="mobile-text"
                    allowfullscreen="allowfullscreen"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 contact-us-div no-pad">&nbsp;</div>
    </div>

    <div class="col-md-6 p-5">
      <div class="col-10 mx-auto">
        <form [formGroup]="contactForm">
          <div class="row">
            <div class="col p-1">
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Your Name"
              />
            </div>
            <div class="col p-1">
              <input
                type="text"
                formControlName="email"
                class="form-control"
                placeholder="Your Email Address"
              />
            </div>
          </div>
          <div class="row p-1">
            <div class="col p-1">
              <input
                type="text"
                formControlName="subject"
                class="form-control"
                placeholder="Subject"
              />
            </div>
          </div>
          <div class="row">
            <div class="col p-1">
              <textarea
                rows="8"
                type="text"
                formControlName="message"
                class="form-control"
                placeholder="message"
              ></textarea>
            </div>
          </div>
          <div class="d-grid gap-2 pt-2 d-md-flex justify-content-md-end">
            <button
              class="btn btn-primary"
              [disabled]="!contactForm.valid"
              onclick="location.href='mailto:events@charityhub.com'"
            >
              Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-grid justify-content-md-end">
    <img src="./../assets/social.png" class="m-3 px-5" />
  </div>
</div>

<div class="text-center bg-dark" style="color: white">
  © Copyright 2017. All Rights Reserved.
</div>
